2. Data Requirements

For this project we need following data:

The demographic data of New York and Toronto 
Datasource: https://www.macrotrends.net

Toronto and New York data that contains list districts (Wards) along with their latitude and longitude.
Datasource : https://en.wikipedia.org/wiki/Special_wards_of_Tokyo#List_of_special_wards
Description: We will Scrap New York and Toronto districts (Wards) Table from Wikipedia and get the coordinates of these 23 major districts using geocoder class of Geopy client.

Restaurants and food courts in each neighborhood of New York and Toronto:
Data source: Foursquare  APIs
Description : By using this API we will get all the venues in each neighborhood. We can filter these venues to get only restaurants and food courts

The detail and types of each restaurant and food court in each neighborhood of New York and Toronto:
Data source: Foursquare  APIs
Description : By using this API we will get all the detail, type and menu of each venue.

The customer reviews of each restaurant and food court in each neighborhood of New York and Toronto:
Data source: Foursquare  APIs
Description : By using this API we will get all the reviews of each venue.